* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1a;
}

h1 {
  font-size: 3.2em;
  margin: 0;
}

#form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contacts {
  text-align: center;
}

ul {
  border: 1px solid blue;
  border-radius: 20px;
  padding-bottom: 5px;
}
li {
  list-style: none;
  border: 1px solid red;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 2.5px;
}

.formBtn,
.contactDel {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

#contactBtn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 0.7em;
  margin: 5px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.formBtn:hover,
#contactBtn:hover,
button:hover {
  border-color: #646cff;
  background-color: #242424;
}

.formBtn:focus,
.formBtn:focus-visible,
#contactBtn:focus,
#contactBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#filterFx {
  color: red;
}

.friend {
  background-color: green;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 45px;
  padding: 0px 4px;
}

.business {
  background-color: red;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 45px;
  padding: 0px 4px;
}

li {
  display: flex;
  background-color: #1a1a1a;
}

button:hover span {
  visibility: hidden;
}

.contactDel:hover:before {
  content: "Delete";
  line-height: 0;
  margin-top: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}
